* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Union', sans-serif;
    color: black;
    min-height: 100vh;
}

.section1, .section2{
    width: 100%;
    min-height: 100vh;
    position: relative;
    transform-style: preserve-3d;
}

.section1::before{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../week-05/houses_or_mumseum_with_styles_v2/img/VIDRONOLBB.png) top center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateZ(-1px) scale(2.2);
    filter: blur(2px);
}

.section1::after{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../houses_or_mumseum_with_styles_v2/img/LBB2.png") top center;
    background-size: 100vw;
    background-repeat: no-repeat;
}

.section2 {
    background-image: linear-gradient(#eff2ff 1%, #ffffff);
}

.heading{
    top: 25%;
    left: 25%;
    position: absolute;
    text-align: center;
    font-family: 'Union', sans-serif;
    font-weight: lighter;
    font-size: 6vw;
    letter-spacing: 4px;
    color: white;
    transform: scale(1,1.1) translate(-50%. 10%);
}

p {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    font-size: 16px;
    line-height: 22.9px;
    font-weight: normal;
    letter-spacing: .02px;
}

.smallitalic {
    font-size: 14px;
    font-style: italic;
    font-weight: light;
    letter-spacing: .01px;
}


.bold {
    font-size: 18px;
    font-weight: 550;
}

.link {
    position: absolute;
    top: 20px;
    right: 60px;
    z-index: 1000;
    width: 110px;
    height: 50px;
    padding-top: 11.5px;
    text-align: center;
    border: 3px solid white;
    color: white;
    text-decoration: none;
}

.link:hover {
    position: absolute;
    top: 20px;
    right: 60px;
    z-index: 1000;
    width: 110px;
    height: 50px;
    padding-top: 11.5px;
    text-align: center;
    border: 3px solid #00d200;
    color:#00d200;
    text-decoration: underline;
    transform: translateY(9px) translateX(9px);
}

.home {
    position: absolute;
    top: 20px;
    left: 60px;
    z-index: 1000;
    width: 110px;
    height: 50px;
    padding-top: 11.5px;
    text-align: center;
    border: 3px solid white;
    color: white;
    text-decoration: none;
}

.home:hover {
    position: absolute;
    top: 20px;
    left: 60px;
    z-index: 1000;
    width: 110px;
    height: 50px;
    padding-top: 11.5px;
    text-align: center;
    border: 3px solid #00d200;
    color:#00d200;
    text-decoration: underline;
    transform: translateY(9px) translateX(9px);
}

.out {
    font-size: 16px;
    line-height: 22.9px;
    font-weight: normal;
    color: #00d200;
    text-decoration: none;
    letter-spacing: .02px;
}

.out:hover {
    font-size: 16px;
    line-height: 22.9px;
    font-weight: normal;
    color: #00d200;
    text-decoration: underline;
    letter-spacing: .02px;
}


.container {
    position: relative;
    width: 50%;
    grid-column: 2;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: row wrap;
    margin-left: auto;
    margin-right: auto;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 2em;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #00d200;
    border-radius: 2em;
    overflow-y: auto;
}
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    position: absolute;
    color: white;
    font-size: 16px;
    line-height: 22.9px;
    text-align: left;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80% auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

-----
@media only screen and (max-width : 499px) {
    .section1:{
    width: 80%;
    }
}

 
 @media only screen and (min-width : 500) {
     body{
         background-color: yellow;
     }
 }